<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style_home.css"/>
        <link rel="shortcut icon" href="/medias/favicon.ico" type="image/x-icon">
		<title>L'Air de Famille - Toulouse</title>
	</head>
	<body>

		<div class="loader">
			<div class="loading_animation"></div>
		</div>
		
		<div class="topnav">
			<button class="nav reservation">Réserver</button>
			<button class="nav prices">Formules</button>
			<button class="nav contacts">Contact</button>
			<button class="nav top"><img src="/medias/logo.jpg"/></button>
		</div>

		<div class="scroll_progress_bar"></div>

		<button class="open_phone_nav"><img src="/medias/phone_menu_icon.png" alt="open nav"/></button>

		<div class="phone_nav">
			<button class="close_phone_nav"><img src="/medias/close_nav_icon.png" alt="close"></button>
			
			<div class="phone_nav_content">
				<button class="phone_nav_button reservation">Réserver</button>
				<button class="phone_nav_button contacts">Contact</button>
				<button class="phone_nav_button prices">Formules</button>
				<p class="phone_nav_info adress">6 rue Jules Chalande</p>
				<p class="phone_nav_info number">Tél. : 05.67.06.54.08</p>
				<p class="phone_nav_info schedules">Du mardi au samedi midi,<br>
													du jeudi au samedi soir.</p>
			</div>
		</div>

		<div class="void">
			<div class="void_top">
				<h1 class="welcome_text">Bienvenue à l'Air de famille</h1> 
			</div>
			<div class="void_bot">
				<div class="schedules_div">
					<p class="schedules_content">Le restaurant est heureux de vous accueillir du
					mardi au samedi midi de 12h00 à 12h45 et du jeudi au samedi soir de 20h00 à 20h45.</p>
				</div>
			</div>
		</div>
		
		<div class="low_content">
			
			<div class="home_text_div">
				<div class="home_text_content">
					<h1 class="home_text_title">En famille, comme à la maison !...</h1>
					<p class="home_text_par">
						"La famille, c’est important, même et surtout quand elle 
						est aussi étendue et fidèle que la clientèle de Georges 
						Camuzet, chef et maître de maison rassembleur et proche 
						de son terroir. Menus 25 € le midi, 38 € le soir, autour 
						d’une cause commune: partage, bonne croque et bon vin, 
						produits d’ici et manières d’aujourd’hui à forte valeur 
						traditionnelle. Georges Camuzet travaille sur le marché 
						de saison, aussi à l’aise avec le thon de Méditerranée 
						qu’avec l’agneau du Quercy, les asperges sauce mousseline 
						ou le canard du Sud-Ouest, le foie gras excellent ou la 
						pintade et risotto. À la cave, tous les copains, Le Roc, 
						Da Ros, Pacalet, Barroubio…"
					</p>
					<h3 class="home_text_signature">Gault & Millau 2022</h3>
				</div>
			</div>
			
			<div class="poivrons_div">
				<div class="poivrons_content">	
					<p class="poivrons_text">Marinade de poivrons aux anchois</p>
				</div>
			</div>

			<div class="contacts_div">
				<div id="contact_nav"></div>
				<div class="contacts_content">
					<h1 class="contacts_title">Nous contacter :</h1>
					<ul class="contacts_elements">
						<li>Tél.: 05.67.06.54.08</li>
						<li>Mail : lairdefamilletoulouse@gmail.com</li>
						<li>Adresse : 6 rue Jules Chalande</li>
					</ul>
				</div>
			</div>

			<div class="map_div">
				<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.209634858104!2d1.4420166157146945!3d43.602176563746234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebdf0993f420f%3A0xcb6f682aa03559c7!2sL&#39;%20Air%20de%20Famille!5e0!3m2!1sfr!2sfr!4v1663783805503!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			
			<div class="melba_div">
				<div class="melba_content">
					<p class="melba_text">Pêche melba</p>
				</div>
			</div>
			
			<div class="moules_div">
				<div class="moules_content">
					<p class="moules_text">Moules de Bouchot en vinaigrette</p>
				</div>
			</div>

			<div class="prices_div">
					<div id="formules_nav"></div>
					<div class="prices_content">
						<h1 class="prices_title">Nos formules :</h1>
						<p class="prices_text">
							Le Midi :<br><br>
							- Entrée - Plat - Dessert - 27€<br>
							- Entrée - Plat           - 23€<br>
							- Plat - Dessert          - 23€<br><br><br>
							Le Soir : <br><br>
							- Entrée - Plat - Dessert - 40€<br>
							- Entrée - Plat           - 37€<br>
							- Plat - Dessert          - 37€
						</p>
					</div>	
			</div>

			<div class="reservation_div">
				<h1 class="reservation_title">Réserver</h1>
				<iframe class="thefork" src="https://module.lafourchette.com/fr_FR/module/750950-46508"> </iframe>
			</div>

		</div>

		<div class="bottom_div">
			<div class="logos_div">
				<a class="logo_link instagram" href="https://www.instagram.com/lairdefamilletoulouse/" target="_blank"><img class="logo_img" src="/medias/logo_instagram.png" alt="instagram_logo"></a>
				<a class="logo_link facebook" href="https://www.facebook.com/lairdefamilletoulouse/" target="_blank"><img class="logo_img" src="/medias/logo_facebook.png" alt="facebook_logo"></a>
				<a class="logo_link michelin" href="https://guide.michelin.com/fr/fr/occitanie/toulouse/restaurant/l-air-de-famille336979" target="_blank"><img class="logo_img" src="/medias/logo_michelin.png" alt="michelin_logo"></a>
				<a class="logo_link gaultmillau" href="https://fr.gaultmillau.com/restaurants/l-air-de-famille" target="_blank"><img class="logo_img" src="/medias/logo_g&m.png" alt="G&M_logo"></a>
			</div>
		</div>
	</body>
	<script src="/scripts/home_script.js"></script>
</html>