@font-face {
    font-family: monofonto;
    src: url(/fonts/monofonto.otf);
}


@font-face {
    font-family: louis-george-cafe;
    src: url(/fonts/Louis-George-Cafe-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: inherit;
    color: inherit;
}


[role=banner] {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}


[role=top] {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}


.informations {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    font-family: louis-george-cafe;
}

.info {
    border: solid red 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.info svg {
    width: 16px;
    height: 16px;
}

.info h6 {
    border: solid;
}

.reservation-link {
    height: 80%;
    border: solid red 2px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: monofonto;
}


.networks-links img {
    width: 16px;
    height: 16px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 50px);
}


.main-logo {
    width: 20vh;
    margin-bottom: 50px;
}


.main-text-content {
    margin-top: 50px;
    text-align: center;
    font-family: louis-george-cafe;
}


.main-title {
    margin-bottom: 10px;
}


.main-description {
    margin-bottom: 10px;
}
