@font-face {
    font-family: monofonto;
    src: url(/fonts/monofonto.otf);
}


@font-face {
    font-family: louis-george-cafe;
    src: url(/fonts/Louis-George-Cafe-Light.ttf);
}


@font-face {
    font-family: ITC-modern;
    src: url(fonts/ITC-modern.ttf);
}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: inherit;
    color: inherit;
}


[role=banner] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    color: white;
}


.background-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(medias/banner-background.jpg);
    filter: brightness(40%);
    z-index: -100;
    background-size: cover;
}


[role=top] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 0 10vw;
}


.informations {
    display: flex;
    flex-direction: row;
    font-family: louis-george-cafe;
    font-size: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.info svg {
    width: 16px;
    min-width: 16px;
    margin-right: 5px;
    color: yellow;
}


.top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.reservation-link {
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: monofonto;
    color: black;
    margin-right: 100px;
    transition: 0.2s;
}

.reservation-link:hover {
    background-color: #589442;
    color: white;
    transform: scaleX(120%);
}


.networks-links {
    display: flex;
    flex-direction: row;
}

.networks-links img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 70px);
}


.main-logo {
    width: 40vh;
    margin-bottom: 30px;
    margin-top: -100px;
}


.main-text-content {
    text-align: center;
    font-family: louis-george-cafe;
}


.main-description {
    margin-bottom: 20px;
    font-size: 50px;
}

.main-location {
    font-size: 20px;
}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.menu-title {
    text-align: center;
    font-family: ITC-modern;
    font-size: 40px;
    text-decoration: underline;
}


.menu-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: louis-george-cafe;
}

.menu-content-left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-vertical-bar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-vertical-bar  {
    position: absolute;
    background-color: black;
    height: 80vh;
    width: 1px;
}

.menu-content-right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-content-title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 6vw;
}


.menu-details-list {
    width: 60%;
}

.menu-details-list p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    padding: 1vw 0;
}


.planning {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}


.planning-text {
    font-family: louis-george-cafe;
    font-size: 50px;
    text-align: center;
    padding: 100px 20vw;
}


footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p {
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    font-family: louis-george-cafe;
    color: white;
}


@media all and (max-width: 1366px) {
    .reservation-link {
        margin-right: 50px;
    }

    .informations {
        font-size: 20px;
    }

    .planning-text {
        font-size: 40px;
    }
}


@media all and (max-width: 768px) {
    .informations {
        font-size: 15px;
    }

    .info {
        margin-right: 10px;
    }

    .networks-links {
        display: none;
    }

    .reservation-link {
        margin-right: 0;
    }

    .main-description {
        padding: 0 30px;
    }

    .planning-text {
        font-size: 30px;
        padding: 50px 10vw;
    }

    .menu-vertical-bar {
        transform: rotate(90deg);
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-content-left {
        width: 100%;
    }

    .menu-content-right {
        width: 100%;
    }

    .menu-content-title {
        font-size: 12vw;
    }

    .menu-details-list p {
        font-size: 4vw;
    }

    .menu-vertical-bar-container {
        height: 200vh;
    }

    .menu-vertical-bar {
        height: 80vw;
    }
}

@media all and (max-width: 450px) {

    .informations {
        display: none;
    }

    .main-logo {
        width: 30vh;
    }

    .menu-content-title {
        font-size: 18vw;
    }

    .menu-details-list p {
        font-size: 6vw;
    }
}